
body{
	 background-color: black;
	 background-image: url(../Hip/93.jpg);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: 100%;
	 background-attachment: fixed;
	 
}

#mytitle{
	margin: 5px;
	font-family: Stencil;
	text-align: center;
	text-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	font-size: 50pt;
}

.urg{
	margin: 10px;
	text-align: center;
	font-family: Monotype Corsiva;
	color: navy;
	font-size: 18pt;
}

p{
	text-align: center;
	font-family: Corbel;
	font-weight: 900;
	color: black;
	font-size: 30pt;
}

hr{
	background-color:black;
	width: 650px; 
	height: 10px;
}
 
.rpg{
	font-family: Impact;
	font-size: 45pt;
	text-shadow: 7px 8px 9px rgba(0,0,0,0.8);
	color: khaki;
	display: flex;
	position: absolute;
	top: 180;
	left: 380;
    width: 45%;
	height: 20%;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.5);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wall{
	font-family: Rockwell;
	font-size: 15pt;
	color: gainsboro;
	display: flex;
	position: absolute;
	top: 390;
	left: 380;
    width: 45%;
	height: 10%;
	background: rgba(0, 0, 0, 0.4);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

a{
	color: darkred;
	text-decoration: none;
}

button{
	background-color: lightyellow;
	border-radius: 20px;
	color: olive;
	text-decoration: none;
	font-family: Candara;
	font-weight: bold;
	font-size: 18pt;
	width: 110px;
	height:40px;
}

.on{
	margin-left: 85px;
	margin-right: 85px;
	display: flex;
	position: absolute;
	top: 460;
	left: 295;
    width: 45%;
	height: 15%;
	background: rgba(0, 0, 0, 0.4);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h3{
	font-family: Candara;
	font-size: 15pt;
	color: ivory;
}

#footer{
	display: flex;
	position: absolute;
	top: 640;
	left: 0;
    width: 100%;
	height: 8%;
	background-color: rgba(0, 0, 0, 0.9);
	align-items: center;
	justify-content: center;
}