body{
	 background-image: url(../Hip/bc.jpg);
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: 100%;
	 background-attachment: fixed;
}

#mytitle{
	margin: 10px;
	color: maroon;
	font-family: Stencil;
	text-align: center;
	text-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	font-size: 50pt;
}

p{
	margin: 10px;
}

.log{
	font-family: Verdana, sans-serif;
	color: cyan;
	font-size: 18pt;
	display: flex;
	position: absolute;
	top: 120;
	left: 435;
    width: 50%;
	height: 89%;
	background: rgba(0, 0, 0, 0.5);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.log1{
	font-family: Verdana, sans-serif;
	color: cyan;
	font-size: 18pt;
	display: flex;
	position: absolute;
	top: 224;
	left: 435;
    width: 50%;
	height: 89%;
	background: rgba(0, 0, 0, 0.5);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.log2{
	font-family: Verdana, sans-serif;
	color: cyan;
	font-size: 18pt;
	display: flex;
	position: absolute;
	top: 328;
	left: 435;
    width: 50%;
	height: 89%;
	background: rgba(0, 0, 0, 0.5);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.log3{
	font-family: Verdana, sans-serif;
	color: cyan;
	font-size: 18pt;
	display: flex;
	position: absolute;
	top: 432;
	left: 435;
    width: 50%;
	height: 89%;
	background: rgba(0, 0, 0, 0.5);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.log4{
	font-family: Verdana, sans-serif;
	color: cyan;
	font-size: 18pt;
	display: flex;
	position: absolute;
	top: 536;
	left: 435;
    width: 50%;
	height: 89%;
	background: rgba(0, 0, 0, 0.5);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

*{
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.wrapper{
  display: flex;
  position: relative;
}


.wrapper .sidebar{
  width: 250px;
  height: 100%;
  background: #764318;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: papayawhip;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-family: Corbel;
  font-weight: bold;
  font-size: 25pt;
}

.wrapper .sidebar ul li{
  padding: 25px 10px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  font-family: Candara;
  font-size: 16pt;
  color: mintcream;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: palegoldenrod;
}
    
.wrapper .sidebar ul li:hover a{
  color: black;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}
